footer {
  margin: 0 auto;
  height: 60px;
  max-width: 1110px;
  background-color: gray;
  p {
    line-height: 80px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
}
